@use '@aristobyte-ui/utils/styles' as *;

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes pulse-duo {
  0%,
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0);
  }
  50% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
  }
}

@mixin spinner-variant-default($name, $color) {
  .spinner-appearance--default.spinner-variant--#{$name} {
    border: 3px solid rgba($color, 0.25);
    border-top-color: rgba($color, 1);
  }
}

@mixin spinner-variant-duo($name, $color) {
  .spinner-appearance--duo.spinner-variant--#{$name} {
    border-bottom-color: rgba($color, 1);
    border-top-color: rgba($color, 1);
  }
}

@mixin spinner-variant-gradient($name, $color) {
  .spinner-appearance--gradient.spinner-variant--#{$name} {
    border-top: 3px solid rgba($color, 1);
  }
}

@mixin spinner-variant-pulse($name, $color) {
  .spinner-appearance--pulse.spinner-variant--#{$name} {
    background-color: $color;
  }
}

@mixin spinner-variant-pulse-duo($name, $color) {
  .spinner-appearance--pulse-duo.spinner-variant--#{$name}::after,
  .spinner-appearance--pulse-duo.spinner-variant--#{$name}::before {
    background-color: $color;
  }
}

.spinner {
  &-size {
    &--xsm {
      width: 1rem; // 16px
      height: 1rem;
    }

    &--sm {
      width: 1.5rem; // 24px
      height: 1.5rem;
    }

    &--md {
      width: 2rem; // 32px
      height: 2rem;
    }

    &--lg {
      width: 2.5rem; // 40px
      height: 2.5rem;
    }

    &--xlg {
      width: 3rem; // 48px
      height: 3rem;
    }
  }

  &-appearance {
    &--default {
      animation: rotation 800ms ease infinite;
      border-radius: 50%;
    }

    &--duo {
      animation: rotation 800ms ease infinite;
      border: 3px solid transparent;
      border-radius: 50%;
    }

    &--gradient {
      animation: rotation 800ms linear infinite;
      border-right: 3px solid transparent;
      border-radius: 50%;
    }

    &--pulse {
      animation: pulse 1s ease-in-out infinite;
      border-radius: 50%;
      position: relative;
    }

    &--pulse-duo {
      position: relative;

      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        transform: translate(-50%, -50%) scale(0);
      }
      &::before {
        animation: pulse-duo 2s ease-in-out infinite;
      }
      &::after {
        animation: pulse-duo 2s 1s ease-in-out infinite;
      }
    }
  }
}

@include spinner-variant-default('default', $color-default);
@include spinner-variant-default('primary', $color-primary);
@include spinner-variant-default('secondary', $color-secondary);
@include spinner-variant-default('success', $color-success);
@include spinner-variant-default('error', $color-error);
@include spinner-variant-default('warning', $color-warning);
@include spinner-variant-duo('default', $color-default);
@include spinner-variant-duo('primary', $color-primary);
@include spinner-variant-duo('secondary', $color-secondary);
@include spinner-variant-duo('success', $color-success);
@include spinner-variant-duo('error', $color-error);
@include spinner-variant-duo('warning', $color-warning);
@include spinner-variant-gradient('default', $color-default);
@include spinner-variant-gradient('primary', $color-primary);
@include spinner-variant-gradient('secondary', $color-secondary);
@include spinner-variant-gradient('success', $color-success);
@include spinner-variant-gradient('error', $color-error);
@include spinner-variant-gradient('warning', $color-warning);
@include spinner-variant-pulse('default', $color-default);
@include spinner-variant-pulse('primary', $color-primary);
@include spinner-variant-pulse('secondary', $color-secondary);
@include spinner-variant-pulse('success', $color-success);
@include spinner-variant-pulse('error', $color-error);
@include spinner-variant-pulse('warning', $color-warning);
@include spinner-variant-pulse-duo('default', $color-default);
@include spinner-variant-pulse-duo('primary', $color-primary);
@include spinner-variant-pulse-duo('secondary', $color-secondary);
@include spinner-variant-pulse-duo('success', $color-success);
@include spinner-variant-pulse-duo('error', $color-error);
@include spinner-variant-pulse-duo('warning', $color-warning);
