@use '@aristobyte-ui/utils/styles' as *;

.social-media-card {
  background-color: #101828; // @TODO: @COLOR
  box-shadow: $shadow-md;
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 280px;
  padding: 22px;
  width: 100%;

  &-radius {
    &--none {
      border-radius: 0rem; // 0px
    }

    &--sm {
      border-radius: 0.25rem; // 4px
    }

    &--md {
      border-radius: 0.5rem; // 8px
    }

    &--lg {
      border-radius: 0.625rem; // 10px
    }

    &--full {
      border-radius: 1.5rem; // 24px
    }
  }

  &__header {
    align-items: center;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    width: 100%;
  }

  &__avatar {
    align-items: center;
    background: linear-gradient(135deg, #ad46ff 0%, #f6339a 100%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    height: 42px;
    overflow: hidden;
    position: relative;
    width: 42px;

    &-icon {
      align-items: center;
      color: $white;
      display: flex;
      justify-content: center;
      margin: auto;
    }

    &-img {
      height: 42px;
      width: 42px;
      object-fit: cover;
    }
  }

  &__text {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    color: $title-color-dark;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
  }

  &__subtitle {
    color: $subtitle-color-dark;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
  }

  &__content {
    color: $description-color-dark;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
  }

  &__metrics {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    gap: 14px;
  }

  &__metric {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;

    &-par {
      align-items: center;
      display: flex;
      gap: 7px;
      justify-content: center;
    }

    &-text {
      align-items: center;
      display: flex;
      justify-content: center;
    }

    &-icon {
      align-items: center;
      color: $icon-color-dark;
      display: flex;
      justify-content: center;
    }

    &-value {
      color: $icon-color-dark;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 14px;
    }
  }

  &__tags {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 1px;
  }

  &__tag {
    margin: 0 2px;
    width: max-content;

    &-anchor {
      padding: 0;
    }
  }
}
