@use '@aristobyte-ui/utils/styles' as *;

.dropdown-option {
  align-items: center;
  border-radius: 8px; // TODO: change to dynamic
  color: $white;
  display: flex;
  font-size: 14px;
  font-weight: 500;
  gap: 10px;
  padding: 10px 16px;
  text-align: left;
  transition: all 120ms ease-out;
  width: 100%;

  @mixin dropdown-option-variant($name, $hover-color) {
    &-variant--#{$name}:hover {
      background-color: $hover-color;
    }
  }

  @include dropdown-option-variant('default', $color-default-hover);
  @include dropdown-option-variant('primary', $color-primary-hover);
  @include dropdown-option-variant('secondary', $color-secondary-hover);
  @include dropdown-option-variant('warning', $color-warning-hover);
  @include dropdown-option-variant('error', $color-error-hover);
  @include dropdown-option-variant('success', $color-success-hover);

  &--disabled,
  &--disabled:hover {
    background-color: $color-default-disabled;
    cursor: auto;
    opacity: 0.5;
  }

  &__title {
    color: $white;
  }

  &__description {
    color: rgba($white, 0.6);
  }

  &__tick {
    color: rgba($white, 0.6);
    opacity: 0;
    transform: scale(0, 0.7) translate(0, 10px);
    transition: all 120ms ease-out;

    &--active {
      opacity: 1;
      transform: scale(1) translate(0);
    }
  }
}
