@use '@aristobyte-ui/utils/styles' as *;
@use '../styles/settings' as *;

body {
  & {
    background: linear-gradient(
      135deg,
      var(--color-azure-11, #0f172b) 0%,
      var(--color-azure-18, #1d293d) 50%,
      var(--color-azure-11, #0f172b) 100%
    );
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: $work-sans, sans-serif;
    overflow: hidden;
  }

  &:focus,
  &:active {
    outline: none;
  }

  button,
  hr,
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  input,
  header,
  section,
  main,
  span,
  ol,
  ul,
  li,
  blockquote {
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: 0;

    &::before,
    &::after {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
  }

  a {
    text-decoration: none;
    color: inherit;
    &:focus,
    &:active {
      outline: none;
    }
    &:visited {
      text-d &:hover {
        text-decoration: none;
      }
    }
  }

  nav,
  footer,
  header,
  aside {
    display: block;
  }

  input,
  button,
  textarea {
    font-family: inherit;
  }

  input {
    &::-ms-clear {
      display: none;
    }
    &[type='file'] {
      display: none;
    }
  }

  button {
    cursor: pointer;

    &::-moz-focus-inner {
      padding: 0;
      border: 0;
    }
  }

  ul li,
  ol li {
    list-style: none;
  }

  img {
    vertical-align: top;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    font-weight: 400;
    margin: 0;
    padding: 0;
  }

  .overlay {
    position: fixed;
    z-index: -2;

    &--left {
      height: 700px;
      left: -300px;
      opacity: 0.18;
      top: -200px;
      width: 1200px;
    }

    &--right {
      opacity: 0.2;
      right: -400px;
      top: 160px;
      width: 1600px;
    }

    img {
      height: 100%;
      width: 100%;
    }
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  color: rgb(161, 242, 187);
}

html,
body {
  font-size: 14px;
  height: 100%;
  line-height: 1px;
  width: 100vw;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
}
