@import "tailwindcss";
@config "../tailwind.config.ts";

@layer base {
  html {
    scroll-behavior: smooth;
    width: 100vw;
    height: 100%;
    font-size: 0.875rem; /* text-sm */
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }

  body {
    overflow: hidden;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(135deg, #0f172b 0%, #1d293d 50%, #0f172b 100%);
    font-family: "Work Sans", sans-serif;
  }

  body:focus,
  body:active {
    outline: none;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  a:focus,
  a:active {
    outline: none;
  }

  input,
  button,
  textarea {
    font-family: inherit;
  }

  button {
    cursor: pointer;
  }

  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

  input::-ms-clear {
    display: none;
  }

  input[type="file"] {
    display: none;
  }

  ul li,
  ol li {
    list-style: none;
  }

  img {
    display: inline-block;
    vertical-align: top;
  }

  code {
    font-family:
      source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
    color: rgb(161, 242, 187);
  }

  /* Overlay styles */
  .overlay {
    position: fixed;
    z-index: -20;
  }

  .overlay--left {
    position: absolute;
    height: 700px;
    left: -300px;
    top: -200px;
    width: 1200px;
    opacity: 0.18;
  }

  .overlay--right {
    position: absolute;
    top: 160px;
    right: -400px;
    width: 1600px;
    opacity: 0.2;
  }

  .overlay img {
    width: 100%;
    height: 100%;
  }
}
