@use '@aristobyte-ui/utils/styles' as *;

@mixin value-block-surface($color, $hover) {
  &.value-block-appearance--solid {
    background-color: $color;
    border-color: $hover;
    box-shadow: $shadow-md;
  }

  &.value-block-appearance--glowing {
    background-color: $color;
    border-color: $hover;
    box-shadow:
      0 0 10px rgba($color, 0.35),
      0 0 24px rgba($color, 0.25);
  }

  &.value-block-appearance--outline {
    background-color: transparent;
    border-color: $color;
  }

  &.value-block-appearance--outline-dashed {
    background-color: transparent;
    border-color: $color;
    border-style: dashed;
  }

  &.value-block-appearance--no-outline {
    background-color: rgba($color, 0.12);
    border-color: transparent;
  }
}

.value-block {
  align-items: center;
  border: 2px solid transparent;
  display: flex;
  flex-direction: column;
  gap: 4px;
  min-width: 140px;
  padding: 16px 18px;
  text-align: center;

  &-variant {
    &--default {
      @include value-block-surface($color-default, $color-default-hover);
    }

    &--primary {
      @include value-block-surface($color-primary, $color-primary-hover);
    }

    &--secondary {
      @include value-block-surface($color-secondary, $color-secondary-hover);
    }

    &--success {
      @include value-block-surface($color-success, $color-success-hover);
    }

    &--error {
      @include value-block-surface($color-error, $color-error-hover);
    }

    &--warning {
      @include value-block-surface($color-warning, $color-warning-hover);
    }
  }

  &-appearance {
    &--solid,
    &--glowing {
      .value-block__value {
        color: $white;
      }

      .value-block__title {
        color: $white-transparent-800;
      }

      .value-block__subtitle {
        color: $white-transparent-700;
      }
    }

    &--outline,
    &--outline-dashed,
    &--no-outline {
      .value-block__value {
        color: $grey-900;
      }

      .value-block__title {
        color: $grey-700;
      }

      .value-block__subtitle {
        color: $grey-600;
      }
    }
  }

  &-radius {
    &--none {
      border-radius: 0;
    }

    &--sm {
      border-radius: 8px;
    }

    &--md {
      border-radius: 24px;
    }

    &--lg {
      border-radius: 32px;
    }

    &--full {
      border-radius: 40px;
    }
  }

  &__icon {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  &__value,
  &__title,
  &__subtitle {
    display: inline-flex;
    font-style: normal;
    margin: 0;
    text-align: center;
  }

  &__value {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
  }

  &__title {
    font-size: 13px;
    font-weight: 500;
    line-height: 17.5px;
  }

  &__subtitle {
    font-size: 10.5px;
    font-weight: 400;
    line-height: 14px;
  }
}
