.code-block {
  border-radius: 8px;
  font-family:
    Fira Code,
    Menlo,
    monospace;
  font-size: 14px;
  line-height: 1.5;
  overflow-y: auto;
  position: relative;

  &__container {
    pre {
      background-color: #0d1117 !important;
      display: flex;
      margin: 0;
      min-height: calc(52px - 14px * 2);
      padding: 14px;

      code {
        display: flex;
        flex-direction: column;

        > span {
          height: 21px;
          margin: auto 0;
        }
      }
    }
  }

  &__button {
    color: #eceded;
    max-height: 32px;
    max-width: 32px;
    min-height: 32px;
    min-width: 32px;
    padding: 8px;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;

    svg {
      height: 100%;
      width: 100%;
    }
  }
}
