@use '@aristobyte-ui/utils/styles' as *;

.code-block {
  background-color: #0f172b;
  border-radius: 10px;
  border: 1px solid #314158;
  display: flex;
  font-family:
    Fira Code,
    Menlo,
    monospace;
  font-size: 16px;
  gap: 20px;
  line-height: 1.5;
  overflow: hidden;
  padding: 25px;
  position: relative;
  width: calc(100% - 2 * 25px);

  &__icon {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  &__container {
    overflow: auto;
    min-width: 100%;
    max-width: 240px;
    max-height: 400px;

    pre {
      background-color: transparent !important;
      display: block;
      margin: 0;
      min-height: calc(52px - 14px * 2);
      white-space: pre;
      overflow: visible;
    }
  }

  &__button {
    color: #eceded;
    max-height: 32px;
    max-width: 32px;
    min-height: 32px;
    min-width: 32px;
    padding: 8px;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;

    svg {
      height: 100%;
      width: 100%;
    }
  }
}
