@use '@aristobyte-ui/utils/styles' as *;

.label {
  align-items: center;
  border-radius: 0.625rem;
  border-style: solid;
  border-width: 1px;
  display: inline-flex;
  font-weight: 500;
  line-height: 1rem;
  padding: 0.25rem 0.6875rem;
  user-select: none;
}

.label-xsm {
  font-size: 0.75rem;
  padding: 0.125rem 0.5rem;
}

.label-sm {
  font-size: 0.875rem;
  padding: 0.25rem 0.625rem;
}

.label-md {
  font-size: 1rem;
  padding: 0.375rem 0.75rem;
}

.label-lg {
  font-size: 1.125rem;
  padding: 0.5rem 1rem;
}

.label-xlg {
  font-size: 1.25rem;
  padding: 0.625rem 1.25rem;
}

.label-radius-none {
  border-radius: 0;
}

.label-radius-sm {
  border-radius: 0.125rem;
}

.label-radius-md {
  border-radius: 0.375rem;
}

.label-radius-lg {
  border-radius: 0.75rem;
}

.label-radius-full {
  border-radius: 9999px;
}

@mixin label-variant($name, $color, $hover-color) {
  .label-#{$name}-solid {
    background-color: rgba($color, 0.2);
    border-color: $color;
    color: $color;
  }

  .label-#{$name}-solid:hover {
    background-color: rgba($color, 0.27);
  }

  .label-#{$name}-solid:disabled {
    background-color: rgba($color, 0.5);
    border-color: rgba($color, 0.5);
    color: rgba($color, 0.5);
    cursor: not-allowed;
    opacity: 0.5;
  }

  .label-#{$name}-outline {
    background-color: transparent;
    border-color: $color;
    color: $color;
  }

  .label-#{$name}-outline:hover {
    background-color: rgba($color, 0.07);
  }

  .label-#{$name}-outline:disabled {
    background-color: transparent;
    border-color: rgba($color, 0.5);
    color: rgba($color, 0.5);
    cursor: not-allowed;
    opacity: 0.5;
  }

  .label-#{$name}-outline-dashed {
    background-color: transparent;
    border-color: $color;
    border-style: dashed;
    color: $color;
  }

  .label-#{$name}-outline-dashed:hover {
    background-color: rgba($color, 0.07);
  }

  .label-#{$name}-outline-dashed:disabled {
    background-color: transparent;
    border-color: rgba($color, 0.5);
    color: rgba($color, 0.5);
    cursor: not-allowed;
    opacity: 0.5;
  }

  .label-#{$name}-no-outline {
    background-color: rgba($color, 0.2);
    border-color: transparent;
    color: $color;
  }

  .label-#{$name}-no-outline:hover {
    background-color: rgba($color, 0.27);
  }

  .label-#{$name}-no-outline:disabled {
    background-color: rgba($color, 0.5);
    border-color: transparent;
    color: rgba($color, 0.5);
    cursor: not-allowed;
    opacity: 0.5;
  }

  .label-#{$name}-glowing {
    background-color: rgba($color, 0.2);
    border-color: transparent;
    box-shadow: 0 0 6px rgba($color, 0.5);
    color: $color;
  }

  .label-#{$name}-glowing:hover {
    background-color: rgba($hover-color, 0.27);
    box-shadow: 0 0 8px rgba($hover-color, 0.5);
    color: $hover-color;
  }

  .label-#{$name}-glowing:disabled {
    background-color: rgba($color, 0.5);
    box-shadow: 0 0 6px rgba($color, 0.5);
    color: rgba($color, 0.5);
    cursor: not-allowed;
    opacity: 0.5;
  }
}

@include label-variant('default', $color-default, $color-default-hover);
@include label-variant('primary', $color-primary, $color-primary-hover);
@include label-variant('secondary', $color-secondary, $color-secondary-hover);
@include label-variant('success', $color-success, $color-success-hover);
@include label-variant('warning', $color-warning, $color-warning-hover);
@include label-variant('error', $color-error, $color-error-hover);
