.custom-button {
  border-radius: 10px;
  background-color: rgba(29, 41, 61, 0.5) !important; /* @TODO: @COLOR */
  border: 1px solid #45556c; /* @TODO: @COLOR */
}

.custom-button:hover {
  background-color: rgb(43, 60, 91, 0.4) !important; /* @TODO: @COLOR */
}

.custom-button--active {
  background-color: #314158 !important; /* @TODO: @COLOR */
}

.custom-button--active:hover {
  background-color: #425269 !important; /* @TODO: @COLOR */
}
