.article {
  overflow-y: scroll;
  width: 100%;
  scrollbar-width: thin;
  scrollbar-color: #94a3b84d transparent;
}

::-webkit-scrollbar {
  width: thin;
}

::-webkit-scrollbar-thumb {
  background-color: #94a3b84d;
  border: 3px solid #94a3b84d;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:active {
  background-color: #94a3b878;
  border: 3px solid #94a3b878;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
