@use '@aristobyte-ui/utils/styles' as *;

.anchor {
  background-color: $transparent;
  border: 0;
  cursor: pointer;
  display: flex;
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0rem;
  line-height: 1.45;
  overflow: hidden;
  position: relative;
  padding: 0.5rem 1rem;
  transition: all 200ms ease;

  &:hover {
    text-decoration: underline;
  }

  &:active {
    transform: scale(0.97);
  }

  @mixin anchor-variant($name, $color, $hover-color) {
    &--#{$name} {
      color: $color;

      &:hover {
        color: $hover-color;
      }
    }
  }

  @include anchor-variant('white', $white, $white-hover);
  @include anchor-variant('black', $black, $black-hover);
  @include anchor-variant('default', $color-default, $color-default-hover);
  @include anchor-variant('primary', $color-primary, $color-primary-hover);
  @include anchor-variant('secondary', $color-secondary, $color-secondary-hover);
  @include anchor-variant('success', $color-success, $color-success-hover);
  @include anchor-variant('error', $color-error, $color-error-hover);
  @include anchor-variant('warning', $black, $color-warning-hover);

  svg {
    height: 100%;
    width: 100%;
  }
}
