@use '@aristobyte-ui/utils/styles' as *;

.anchor {
  background-color: $transparent;
  border: none;
  cursor: pointer;
  display: flex;
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0rem;
  line-height: 1.4285714286;
  overflow: hidden;
  position: relative;
  padding: 0.5rem 1rem;
  transition: all 200ms ease;

  &:hover {
    text-decoration: underline;
  }

  &:active {
    transform: scale(0.97);
  }

  &--white {
    color: $white;

    &:hover {
      color: $white-hover;
    }
  }

  &--black {
    color: $black;

    &:hover {
      color: $black-hover;
    }
  }

  &--default {
    color: $color-default;

    &:hover {
      color: $color-default-hover;
    }
  }

  &--primary {
    color: $color-primary;

    &:hover {
      color: $color-primary-hover;
    }
  }

  &--secondary {
    color: $color-secondary;

    &:hover {
      color: $color-secondary-hover;
    }
  }

  &--success {
    color: $color-success;

    &:hover {
      color: $color-success-hover;
    }
  }

  &--error {
    color: $color-error;

    &:hover {
      color: $color-error-hover;
    }
  }

  &--warning {
    color: $color-warning;
    color: $black;

    &:hover {
      color: $color-warning-hover;
    }
  }

  svg {
    height: 100%;
    width: 100%;
  }
}
