/* [project]/packages/spinner/src/main/components/Spinner/Spinner.scss.css [app-client] (css) */
@keyframes rotation {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
    transform: scale(0);
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes pulse-duo {
  0%, 100% {
    opacity: 1;
    transform: translate(-50%, -50%)scale(0);
  }

  50% {
    opacity: 0;
    transform: translate(-50%, -50%)scale(1);
  }
}

.spinner-size--xsm {
  width: 1rem;
  height: 1rem;
}

.spinner-size--sm {
  width: 1.5rem;
  height: 1.5rem;
}

.spinner-size--md {
  width: 2rem;
  height: 2rem;
}

.spinner-size--lg {
  width: 2.5rem;
  height: 2.5rem;
}

.spinner-size--xlg {
  width: 3rem;
  height: 3rem;
}

.spinner-type--default {
  border-radius: 50%;
  animation: .8s infinite rotation;
}

.spinner-type--duo {
  border: 3px solid rgba(0, 0, 0, 0);
  border-radius: 50%;
  animation: .8s infinite rotation;
}

.spinner-type--gradient {
  border-right: 3px solid rgba(0, 0, 0, 0);
  border-radius: 50%;
  animation: .8s linear infinite rotation;
}

.spinner-type--pulse {
  border-radius: 50%;
  animation: 1s ease-in-out infinite pulse;
  position: relative;
}

.spinner-type--pulse-duo {
  position: relative;
}

.spinner-type--pulse-duo:before, .spinner-type--pulse-duo:after {
  content: "";
  border-radius: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)scale(0);
}

.spinner-type--pulse-duo:before {
  animation: 2s ease-in-out infinite pulse-duo;
}

.spinner-type--pulse-duo:after {
  animation: 2s ease-in-out 1s infinite pulse-duo;
}

.spinner-type--default.spinner-variant--default {
  border: 3px solid rgba(31, 41, 55, .25);
  border-top-color: #1f2937;
}

.spinner-type--default.spinner-variant--primary {
  border: 3px solid rgba(37, 99, 235, .25);
  border-top-color: #2563eb;
}

.spinner-type--default.spinner-variant--secondary {
  border: 3px solid rgba(79, 70, 229, .25);
  border-top-color: #4f46e5;
}

.spinner-type--default.spinner-variant--success {
  border: 3px solid rgba(22, 163, 74, .25);
  border-top-color: #16a34a;
}

.spinner-type--default.spinner-variant--error {
  border: 3px solid rgba(220, 38, 38, .25);
  border-top-color: #dc2626;
}

.spinner-type--default.spinner-variant--warning {
  border: 3px solid rgba(217, 119, 6, .25);
  border-top-color: #d97706;
}

.spinner-type--duo.spinner-variant--default {
  border-top-color: #1f2937;
  border-bottom-color: #1f2937;
}

.spinner-type--duo.spinner-variant--primary {
  border-top-color: #2563eb;
  border-bottom-color: #2563eb;
}

.spinner-type--duo.spinner-variant--secondary {
  border-top-color: #4f46e5;
  border-bottom-color: #4f46e5;
}

.spinner-type--duo.spinner-variant--success {
  border-top-color: #16a34a;
  border-bottom-color: #16a34a;
}

.spinner-type--duo.spinner-variant--error {
  border-top-color: #dc2626;
  border-bottom-color: #dc2626;
}

.spinner-type--duo.spinner-variant--warning {
  border-top-color: #d97706;
  border-bottom-color: #d97706;
}

.spinner-type--gradient.spinner-variant--default {
  border-top: 3px solid #1f2937;
}

.spinner-type--gradient.spinner-variant--primary {
  border-top: 3px solid #2563eb;
}

.spinner-type--gradient.spinner-variant--secondary {
  border-top: 3px solid #4f46e5;
}

.spinner-type--gradient.spinner-variant--success {
  border-top: 3px solid #16a34a;
}

.spinner-type--gradient.spinner-variant--error {
  border-top: 3px solid #dc2626;
}

.spinner-type--gradient.spinner-variant--warning {
  border-top: 3px solid #d97706;
}

.spinner-type--pulse.spinner-variant--default {
  background-color: #1f2937;
}

.spinner-type--pulse.spinner-variant--primary {
  background-color: #2563eb;
}

.spinner-type--pulse.spinner-variant--secondary {
  background-color: #4f46e5;
}

.spinner-type--pulse.spinner-variant--success {
  background-color: #16a34a;
}

.spinner-type--pulse.spinner-variant--error {
  background-color: #dc2626;
}

.spinner-type--pulse.spinner-variant--warning {
  background-color: #d97706;
}

.spinner-type--pulse-duo.spinner-variant--default:after, .spinner-type--pulse-duo.spinner-variant--default:before {
  background-color: #1f2937;
}

.spinner-type--pulse-duo.spinner-variant--primary:after, .spinner-type--pulse-duo.spinner-variant--primary:before {
  background-color: #2563eb;
}

.spinner-type--pulse-duo.spinner-variant--secondary:after, .spinner-type--pulse-duo.spinner-variant--secondary:before {
  background-color: #4f46e5;
}

.spinner-type--pulse-duo.spinner-variant--success:after, .spinner-type--pulse-duo.spinner-variant--success:before {
  background-color: #16a34a;
}

.spinner-type--pulse-duo.spinner-variant--error:after, .spinner-type--pulse-duo.spinner-variant--error:before {
  background-color: #dc2626;
}

.spinner-type--pulse-duo.spinner-variant--warning:after, .spinner-type--pulse-duo.spinner-variant--warning:before {
  background-color: #d97706;
}

/*# sourceMappingURL=packages_spinner_src_main_components_Spinner_Spinner_scss_css_bad6b30c._.single.css.map*/