@use '@aristobyte-ui/utils/styles' as *;

.message-box {
  align-items: flex-start;
  color: $white;
  display: flex;
  padding: 0.75rem 1rem;
  padding: 1rem;

  &-radius {
    &--none {
      border-radius: 0rem; // 0px
    }

    &--sm {
      border-radius: 0.25rem; // 4px
    }

    &--md {
      border-radius: 0.5rem; // 8px
    }

    &--lg {
      border-radius: 0.625rem; // 10px
    }

    &--full {
      border-radius: 1.5rem; // 24px
    }
  }

  &__content {
    color: $white;
    font-family: $font-family-sans;
    font-size: $font-size-body-sm;
    font-weight: $font-weight-regular;
    line-height: $line-height-normal;
  }

  &--default.message-box-appearance {
    &--solid {
      background-color: rgba($color-default, 1);

      .message-box__icon {
        color: $white;
      }
    }

    &--outline {
      background-color: rgba($color-default, 0.2);
      border: 1px solid $color-default;

      .message-box__icon {
        color: $color-default;
      }
    }

    &--outline-dashed {
      background-color: rgba($color-default, 0.2);
      border: 1px dashed $color-default;

      .message-box__icon {
        color: $color-default;
      }
    }

    &--no-outline {
      background-color: rgba($color-default, 0.2);

      .message-box__icon {
        color: $color-default;
      }
    }

    &--glowing {
      background-color: rgba($color-default, 0.2);
      border: 1px solid $color-default;
      box-shadow:
        0 0 8px rgba($color-default, 0.5),
        0 0 16px rgba($color-default, 0.4),
        0 0 24px rgba($color-default, 0.3);

      .message-box__icon {
        color: $color-default;
      }
    }
  }

  &--primary.message-box-appearance {
    &--solid {
      background-color: rgba($color-primary, 1);

      .message-box__icon {
        color: $white;
      }
    }

    &--outline {
      background-color: rgba($color-primary, 0.2);
      border: 1px solid $color-primary;

      .message-box__icon {
        color: $color-primary;
      }
    }

    &--outline-dashed {
      background-color: rgba($color-primary, 0.2);
      border: 1px dashed $color-primary;

      .message-box__icon {
        color: $color-primary;
      }
    }

    &--no-outline {
      background-color: rgba($color-primary, 0.2);

      .message-box__icon {
        color: $color-primary;
      }
    }

    &--glowing {
      background-color: rgba($color-primary, 0.2);
      border: 1px solid $color-primary;
      box-shadow:
        0 0 8px rgba($color-primary, 0.5),
        0 0 16px rgba($color-primary, 0.4),
        0 0 24px rgba($color-primary, 0.3);

      .message-box__icon {
        color: $color-primary;
      }
    }
  }

  &--secondary.message-box-appearance {
    &--solid {
      background-color: rgba($color-secondary, 1);

      .message-box__icon {
        color: $white;
      }
    }

    &--outline {
      background-color: rgba($color-secondary, 0.2);
      border: 1px solid $color-secondary;

      .message-box__icon {
        color: $color-secondary;
      }
    }

    &--outline-dashed {
      background-color: rgba($color-secondary, 0.2);
      border: 1px dashed $color-secondary;

      .message-box__icon {
        color: $color-secondary;
      }
    }

    &--no-outline {
      background-color: rgba($color-secondary, 0.2);

      .message-box__icon {
        color: $color-secondary;
      }
    }

    &--glowing {
      background-color: rgba($color-secondary, 0.2);
      border: 1px solid $color-secondary;
      box-shadow:
        0 0 8px rgba($color-secondary, 0.5),
        0 0 16px rgba($color-secondary, 0.4),
        0 0 24px rgba($color-secondary, 0.3);

      .message-box__icon {
        color: $color-secondary;
      }
    }
  }

  &--success.message-box-appearance {
    &--solid {
      background-color: rgba($color-success, 1);

      .message-box__icon {
        color: $white;
      }
    }

    &--outline {
      background-color: rgba($color-success, 0.2);
      border: 1px solid $color-success;

      .message-box__icon {
        color: $color-success;
      }
    }

    &--outline-dashed {
      background-color: rgba($color-success, 0.2);
      border: 1px dashed $color-success;

      .message-box__icon {
        color: $color-success;
      }
    }

    &--no-outline {
      background-color: rgba($color-success, 0.2);

      .message-box__icon {
        color: $color-success;
      }
    }

    &--glowing {
      background-color: rgba($color-success, 0.2);
      border: 1px solid $color-success;
      box-shadow:
        0 0 8px rgba($color-success, 0.5),
        0 0 16px rgba($color-success, 0.4),
        0 0 24px rgba($color-success, 0.3);

      .message-box__icon {
        color: $color-success;
      }
    }
  }

  &--warning.message-box-appearance {
    &--solid {
      background-color: rgba($color-warning, 1);

      .message-box__icon {
        color: $white;
      }
    }

    &--outline {
      background-color: rgba($color-warning, 0.2);
      border: 1px solid $color-warning;

      .message-box__icon {
        color: $color-warning;
      }
    }

    &--outline-dashed {
      background-color: rgba($color-warning, 0.2);
      border: 1px dashed $color-warning;

      .message-box__icon {
        color: $color-warning;
      }
    }

    &--no-outline {
      background-color: rgba($color-warning, 0.2);

      .message-box__icon {
        color: $color-warning;
      }
    }

    &--glowing {
      background-color: rgba($color-warning, 0.2);
      border: 1px solid $color-warning;
      box-shadow:
        0 0 8px rgba($color-warning, 0.5),
        0 0 16px rgba($color-warning, 0.4),
        0 0 24px rgba($color-warning, 0.3);

      .message-box__icon {
        color: $color-warning;
      }
    }
  }

  &--error.message-box-appearance {
    &--solid {
      background-color: rgba($color-error, 1);

      .message-box__icon {
        color: $white;
      }
    }

    &--outline {
      background-color: rgba($color-error, 0.2);
      border: 1px solid $color-error;

      .message-box__icon {
        color: $color-error;
      }
    }

    &--outline-dashed {
      background-color: rgba($color-error, 0.2);
      border: 1px dashed $color-error;

      .message-box__icon {
        color: $color-error;
      }
    }

    &--no-outline {
      background-color: rgba($color-error, 0.2);

      .message-box__icon {
        color: $color-error;
      }
    }

    &--glowing {
      background-color: rgba($color-error, 0.2);
      border: 1px solid $color-error;
      box-shadow:
        0 0 8px rgba($color-error, 0.5),
        0 0 16px rgba($color-error, 0.4),
        0 0 24px rgba($color-error, 0.3);

      .message-box__icon {
        color: $color-error;
      }
    }
  }

  &__icon {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 10px 0 0;
    max-height: 16px;
    max-width: 16px;
    min-height: 16px;
    min-width: 16px;

    &--default {
      color: $color-default;
    }

    &--primary {
      color: $color-primary;
    }

    &--secondary {
      color: $color-secondary;
    }

    &--success {
      color: $color-success;
    }

    &--warning {
      color: $color-warning;
    }

    &--error {
      color: $color-error;
    }

    svg {
      width: 100%;
    }
  }
}
