@use '@aristobyte-ui/utils/styles' as *;

.message-box {
  align-items: flex-start;
  color: $white;
  display: flex;
  padding: 0.75rem 1rem;
  padding: 1rem;

  &-radius {
    &--none {
      border-radius: 0rem; // 0px
    }

    &--sm {
      border-radius: 0.25rem; // 4px
    }

    &--md {
      border-radius: 0.5rem; // 8px
    }

    &--lg {
      border-radius: 0.625rem; // 10px
    }

    &--full {
      border-radius: 1.5rem; // 24px
    }
  }

  &__content {
    color: $white;
    font-family: $font-family-sans;
    font-size: $font-size-body-sm;
    font-weight: $font-weight-regular;
    line-height: $line-height-normal;
  }

  @mixin message-box-variant($name, $color) {
    &--#{$name}.message-box-type--solid {
      background-color: rgba($color, 1);

      .message-box__icon {
        color: $white;
      }
    }

    &--#{$name}.message-box-type--outline {
      background-color: rgba($color, 0.2);
      border: 1px solid $color;

      .message-box__icon {
        color: $color;
      }
    }

    &--#{$name}.message-box-type--outline-dashed {
      background-color: rgba($color, 0.2);
      border: 1px dashed $color;

      .message-box__icon {
        color: $color;
      }
    }

    &--#{$name}.message-box-type--no-outline {
      background-color: rgba($color, 0.2);

      .message-box__icon {
        color: $color;
      }
    }

    &--#{$name}.message-box-type--glowing {
      background-color: rgba($color, 0.2);
      border: 1px solid $color;
      box-shadow:
        0 0 8px rgba($color, 0.5),
        0 0 16px rgba($color, 0.4),
        0 0 24px rgba($color, 0.3);

      .message-box__icon {
        color: $color;
      }
    }
  }

  @include message-box-variant('default', $grey-600);
  @include message-box-variant('info', $blue-600);
  @include message-box-variant('success', $green-600);
  @include message-box-variant('warning', $amber-600);
  @include message-box-variant('error', $red-600);

  &__icon {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 10px 0 0;
    max-height: 16px;
    max-width: 16px;
    min-height: 16px;
    min-width: 16px;

    &--default {
      color: $grey-600;
    }

    &--info {
      color: $blue-600;
    }

    &--success {
      color: $green-600;
    }

    &--warning {
      color: $amber-600;
    }

    &--error {
      color: $red-600;
    }

    svg {
      width: 100%;
    }
  }
}
