@use '@aristobyte-ui/utils/styles' as *;

.button {
  align-items: center;
  border: 0;
  cursor: pointer;
  display: flex;
  font-weight: 500;
  gap: 10px;
  justify-content: center;
  letter-spacing: 0rem;
  line-height: 1.42px;
  overflow: hidden;
  position: relative;
  text-align: center;
  transition:
    background-color 200ms ease,
    transform 300ms ease;

  &:disabled {
    cursor: not-allowed;
    opacity: 1;
  }

  &:active {
    transform: scale(0.96);
  }

  &--transparent {
    background-color: transparent !important;
  }

  @mixin button-style($bg, $hover-bg, $disabled-bg, $border: null, $glow: false) {
    background-color: $bg;
    backdrop-filter: 8px;
    color: $text-color-white;

    @if $border != null {
      border: $border;
    }

    @if $glow {
      box-shadow:
        0 0 8px rgba($hover-bg, 0.5),
        0 0 16px rgba($hover-bg, 0.4),
        0 0 24px rgba($hover-bg, 0.3);
    }

    &:hover {
      background-color: $hover-bg;
    }

    &:disabled {
      background-color: $disabled-bg;
      color: $text-color-white-disabled;

      .icon {
        color: $text-color-white-disabled;
      }
    }

    .icon {
      color: $text-color-white;
    }
  }

  @mixin button-variant($name, $color, $color-hover, $color-disabled) {
    &.button-variant--#{$name}.button-appearance--solid {
      @include button-style($color, $color-hover, $color-disabled);
    }

    &.button-variant--#{$name}.button-appearance--outline {
      @include button-style(rgba($color, 0.2), $color, rgba($color-disabled, 0.2), 1px solid $color);
    }

    &.button-variant--#{$name}.button-appearance--outline-dashed {
      @include button-style(rgba($color, 0.2), $color, rgba($color-disabled, 0.2), 1px dashed $color);
    }

    &.button-variant--#{$name}.button-appearance--no-outline {
      @include button-style(rgba($color, 0.2), $color, rgba($color-disabled, 0.2));
    }

    &.button-variant--#{$name}.button-appearance--glowing {
      @include button-style(rgba($color, 0.2), $color, rgba($color-disabled, 0.2), 1px solid $color, true);
    }
  }

  @include button-variant('default', $color-default, $color-default-hover, $color-default-disabled);
  @include button-variant('primary', $color-primary, $color-primary-hover, $color-primary-disabled);
  @include button-variant('secondary', $color-secondary, $color-secondary-hover, $color-secondary-disabled);
  @include button-variant('success', $color-success, $color-success-hover, $color-success-disabled);
  @include button-variant('error', $color-error, $color-error-hover, $color-error-disabled);
  @include button-variant('warning', $color-warning, $color-warning-hover, $color-warning-disabled);

  &-size {
    &--xsm {
      font-size: 0.75rem; // 12px
      line-height: 1rem; // 16px
      padding: 0.25rem 0.5rem; // 4px 8px
      min-height: 28px;

      .spinner,
      .icon {
        max-height: 1rem; // 16px
        max-width: 1rem; // 16px
      }
    }

    &--sm {
      font-size: 0.875rem; // 14px
      line-height: 1.25rem; // 20px
      padding: 0.375rem 0.75rem; // 6px 12px
      min-height: 32px;

      .spinner,
      .icon {
        max-height: 1.125rem; // 18px
        max-width: 1.125rem; // 18px
      }
    }

    &--md {
      font-size: 1rem; // 16px
      line-height: 1.5rem; // 24px
      padding: 0.5rem 1rem; // 8px 16px
      min-height: 40px;

      .spinner,
      .icon {
        height: 1.25rem; // 20px
        width: 1.25rem; // 20px
      }
    }

    &--lg {
      font-size: 1.125rem; // 18px
      line-height: 1.75rem; // 28px
      padding: 0.625rem 1.25rem; // 10px 20px
      min-height: 44px;

      .spinner,
      .icon {
        max-height: 1.375rem; // 22px
        max-width: 1.375rem; // 22px
      }
    }

    &--xlg {
      font-size: 1.25rem; // 20px
      line-height: 1.75rem; // 28px
      padding: 0.75rem 1.5rem; // 12px 24px
      min-height: 48px;

      .spinner,
      .icon {
        max-height: 1.5rem; // 24px
        max-width: 1.5rem; // 24px
      }
    }
  }

  &-radius {
    &--none {
      border-radius: 0rem; // 0px
    }

    &--sm {
      border-radius: 0.125rem; // 2px
    }

    &--md {
      border-radius: 0.375rem; // 6px
    }

    &--lg {
      border-radius: 0.5rem; // 8px
    }

    &--full {
      border-radius: 1.5rem; // 24px
    }
  }

  .icon {
    align-items: center;
    display: flex;
    justify-content: center;

    &--right {
      order: 5;
    }

    svg {
      width: 100%;
    }
  }
}
