@use '@aristobyte-ui/utils/aristobyte-ui.settings' as *;

.button {
  align-items: center;
  border: none;
  cursor: pointer;
  display: flex;
  font-weight: 500;
  gap: 10px;
  justify-content: center;
  letter-spacing: 0rem;
  line-height: 1.42;
  overflow: hidden;
  position: relative;
  text-align: center;
  transition:
    background-color 200ms ease,
    transform 300ms ease;

  &:disabled {
    cursor: not-allowed;
    opacity: 1;
  }

  &:active {
    transform: scale(0.96);
  }

  &--transparent {
    background-color: transparent !important;
  }

  &-variant {
    &--default.button-appearance {
      &--solid {
        background-color: $color-default;
        backdrop-filter: 8px;
        color: $text-color-white;

        &:hover {
          background-color: $color-default-hover;
        }

        &:disabled {
          background-color: $color-default-disabled;
          color: $text-color-white-disabled;

          .icon {
            color: $text-color-white-disabled;
          }
        }

        .icon {
          color: $text-color-white;
        }
      }

      &--outline {
        background-color: rgba($color-default, 0.2);
        backdrop-filter: 8px;
        border: 1px solid $color-default;
        color: $text-color-white;

        &:hover {
          background-color: $color-default;
        }

        &:disabled {
          background-color: rgba($color-default-disabled, 0.2);
          color: $text-color-white-disabled;

          .icon {
            color: $text-color-white-disabled;
          }
        }

        .icon {
          color: $text-color-white;
        }
      }

      &--outline-dashed {
        background-color: rgba($color-default, 0.2);
        backdrop-filter: 8px;
        border: 1px dashed $color-default;
        color: $text-color-white;

        &:hover {
          background-color: $color-default;
        }

        &:disabled {
          background-color: rgba($color-default-disabled, 0.2);
          color: $text-color-white-disabled;

          .icon {
            color: $text-color-white-disabled;
          }
        }

        .icon {
          color: $text-color-white;
        }
      }

      &--no-outline {
        background-color: rgba($color-default, 0.2);
        backdrop-filter: 8px;
        color: $text-color-white;

        &:hover {
          background-color: $color-default;
        }

        &:disabled {
          background-color: rgba($color-default-disabled, 0.2);
          color: $text-color-white-disabled;

          .icon {
            color: $text-color-white-disabled;
          }
        }

        .icon {
          color: $text-color-white;
        }
      }

      &--glowing {
        background-color: rgba($color-default, 0.2);
        backdrop-filter: 8px;
        border: 1px solid $color-default;
        color: $text-color-white;
        box-shadow:
          0 0 8px rgba($color-default, 0.5),
          0 0 16px rgba($color-default, 0.4),
          0 0 24px rgba($color-default, 0.3);

        &:hover {
          background-color: $color-default;
        }

        &:disabled {
          background-color: rgba($color-default-disabled, 0.2);
          color: $text-color-white-disabled;

          .icon {
            color: $text-color-white-disabled;
          }
        }

        .icon {
          color: $text-color-white;
        }
      }
    }

    &--primary.button-appearance {
      &--solid {
        background-color: $color-primary;
        backdrop-filter: 8px;
        color: $text-color-white;

        &:hover {
          background-color: $color-primary-hover;
        }

        &:disabled {
          background-color: $color-primary-disabled;
          color: $text-color-white-disabled;

          .icon {
            color: $text-color-white-disabled;
          }
        }

        .icon {
          color: $text-color-white;
        }
      }

      &--outline {
        background-color: rgba($color-primary, 0.2);
        backdrop-filter: 8px;
        border: 1px solid $color-primary;
        color: $text-color-white;

        &:hover {
          background-color: $color-primary;
        }

        &:disabled {
          background-color: rgba($color-primary-disabled, 0.2);
          color: $text-color-white-disabled;

          .icon {
            color: $text-color-white-disabled;
          }
        }

        .icon {
          color: $text-color-white;
        }
      }

      &--outline-dashed {
        background-color: rgba($color-primary, 0.2);
        backdrop-filter: 8px;
        border: 1px dashed $color-primary;
        color: $text-color-white;

        &:hover {
          background-color: $color-primary;
        }

        &:disabled {
          background-color: rgba($color-primary-disabled, 0.2);
          color: $text-color-white-disabled;

          .icon {
            color: $text-color-white-disabled;
          }
        }

        .icon {
          color: $text-color-white;
        }
      }

      &--no-outline {
        background-color: rgba($color-primary, 0.2);
        backdrop-filter: 8px;
        color: $text-color-white;

        &:hover {
          background-color: $color-primary;
        }

        &:disabled {
          background-color: rgba($color-primary-disabled, 0.2);
          color: $text-color-white-disabled;

          .icon {
            color: $text-color-white-disabled;
          }
        }

        .icon {
          color: $text-color-white;
        }
      }

      &--glowing {
        background-color: rgba($color-primary, 0.2);
        backdrop-filter: 8px;
        border: 1px solid $color-primary;
        color: $text-color-white;
        box-shadow:
          0 0 8px rgba($color-primary, 0.5),
          0 0 16px rgba($color-primary, 0.4),
          0 0 24px rgba($color-primary, 0.3);

        &:hover {
          background-color: $color-primary;
        }

        &:disabled {
          background-color: rgba($color-primary-disabled, 0.2);
          color: $text-color-white-disabled;

          .icon {
            color: $text-color-white-disabled;
          }
        }

        .icon {
          color: $text-color-white;
        }
      }
    }

    &--secondary.button-appearance {
      &--solid {
        background-color: $color-secondary;
        backdrop-filter: 8px;
        color: $text-color-white;

        &:hover {
          background-color: $color-secondary-hover;
        }

        &:disabled {
          background-color: $color-secondary-disabled;
          color: $text-color-white-disabled;

          .icon {
            color: $text-color-white-disabled;
          }
        }

        .icon {
          color: $text-color-white;
        }
      }

      &--outline {
        background-color: rgba($color-secondary, 0.2);
        backdrop-filter: 8px;
        border: 1px solid $color-secondary;
        color: $text-color-white;

        &:hover {
          background-color: $color-secondary;
        }

        &:disabled {
          background-color: rgba($color-secondary-disabled, 0.2);
          color: $text-color-white-disabled;

          .icon {
            color: $text-color-white-disabled;
          }
        }

        .icon {
          color: $text-color-white;
        }
      }

      &--outline-dashed {
        background-color: rgba($color-secondary, 0.2);
        backdrop-filter: 8px;
        border: 1px dashed $color-secondary;
        color: $text-color-white;

        &:hover {
          background-color: $color-secondary;
        }

        &:disabled {
          background-color: rgba($color-secondary-disabled, 0.2);
          color: $text-color-white-disabled;

          .icon {
            color: $text-color-white-disabled;
          }
        }

        .icon {
          color: $text-color-white;
        }
      }

      &--no-outline {
        background-color: rgba($color-secondary, 0.2);
        backdrop-filter: 8px;
        color: $text-color-white;

        &:hover {
          background-color: $color-secondary;
        }

        &:disabled {
          background-color: rgba($color-secondary-disabled, 0.2);
          color: $text-color-white-disabled;

          .icon {
            color: $text-color-white-disabled;
          }
        }

        .icon {
          color: $text-color-white;
        }
      }

      &--glowing {
        background-color: rgba($color-secondary, 0.2);
        backdrop-filter: 8px;
        border: 1px solid $color-secondary;
        color: $text-color-white;
        box-shadow:
          0 0 8px rgba($color-secondary, 0.5),
          0 0 16px rgba($color-secondary, 0.4),
          0 0 24px rgba($color-secondary, 0.3);

        &:hover {
          background-color: $color-secondary;
        }

        &:disabled {
          background-color: rgba($color-secondary-disabled, 0.2);
          color: $text-color-white-disabled;

          .icon {
            color: $text-color-white-disabled;
          }
        }

        .icon {
          color: $text-color-white;
        }
      }
    }

    &--success.button-appearance {
      &--solid {
        background-color: $color-success;
        backdrop-filter: 8px;
        color: $text-color-white;

        &:hover {
          background-color: $color-success-hover;
        }

        &:disabled {
          background-color: $color-success-disabled;
          color: $text-color-white-disabled;

          .icon {
            color: $text-color-white-disabled;
          }
        }

        .icon {
          color: $text-color-white;
        }
      }

      &--outline {
        background-color: rgba($color-success, 0.2);
        backdrop-filter: 8px;
        border: 1px solid $color-success;
        color: $text-color-white;

        &:hover {
          background-color: $color-success;
        }

        &:disabled {
          background-color: rgba($color-success-disabled, 0.2);
          color: $text-color-white-disabled;

          .icon {
            color: $text-color-white-disabled;
          }
        }

        .icon {
          color: $text-color-white;
        }
      }

      &--outline-dashed {
        background-color: rgba($color-success, 0.2);
        backdrop-filter: 8px;
        border: 1px dashed $color-success;
        color: $text-color-white;

        &:hover {
          background-color: $color-success;
        }

        &:disabled {
          background-color: rgba($color-success-disabled, 0.2);
          color: $text-color-white-disabled;

          .icon {
            color: $text-color-white-disabled;
          }
        }

        .icon {
          color: $text-color-white;
        }
      }

      &--no-outline {
        background-color: rgba($color-success, 0.2);
        backdrop-filter: 8px;
        color: $text-color-white;

        &:hover {
          background-color: $color-success;
        }

        &:disabled {
          background-color: rgba($color-success-disabled, 0.2);
          color: $text-color-white-disabled;

          .icon {
            color: $text-color-white-disabled;
          }
        }

        .icon {
          color: $text-color-white;
        }
      }

      &--glowing {
        background-color: rgba($color-success, 0.2);
        backdrop-filter: 8px;
        border: 1px solid $color-success;
        color: $text-color-white;
        box-shadow:
          0 0 8px rgba($color-success, 0.5),
          0 0 16px rgba($color-success, 0.4),
          0 0 24px rgba($color-success, 0.3);

        &:hover {
          background-color: $color-success;
        }

        &:disabled {
          background-color: rgba($color-success-disabled, 0.2);
          color: $text-color-white-disabled;

          .icon {
            color: $text-color-white-disabled;
          }
        }

        .icon {
          color: $text-color-white;
        }
      }
    }

    &--error.button-appearance {
      &--solid {
        background-color: $color-error;
        backdrop-filter: 8px;
        color: $text-color-white;

        &:hover {
          background-color: $color-error-hover;
        }

        &:disabled {
          background-color: $color-error-disabled;
          color: $text-color-white-disabled;

          .icon {
            color: $text-color-white-disabled;
          }
        }

        .icon {
          color: $text-color-white;
        }
      }

      &--outline {
        background-color: rgba($color-error, 0.2);
        backdrop-filter: 8px;
        border: 1px solid $color-error;
        color: $text-color-white;

        &:hover {
          background-color: $color-error;
        }

        &:disabled {
          background-color: rgba($color-error-disabled, 0.2);
          color: $text-color-white-disabled;

          .icon {
            color: $text-color-white-disabled;
          }
        }

        .icon {
          color: $text-color-white;
        }
      }

      &--outline-dashed {
        background-color: rgba($color-error, 0.2);
        backdrop-filter: 8px;
        border: 1px dashed $color-error;
        color: $text-color-white;

        &:hover {
          background-color: $color-error;
        }

        &:disabled {
          background-color: rgba($color-error-disabled, 0.2);
          color: $text-color-white-disabled;

          .icon {
            color: $text-color-white-disabled;
          }
        }

        .icon {
          color: $text-color-white;
        }
      }

      &--no-outline {
        background-color: rgba($color-error, 0.2);
        backdrop-filter: 8px;
        color: $text-color-white;

        &:hover {
          background-color: $color-error;
        }

        &:disabled {
          background-color: rgba($color-error-disabled, 0.2);
          color: $text-color-white-disabled;

          .icon {
            color: $text-color-white-disabled;
          }
        }

        .icon {
          color: $text-color-white;
        }
      }

      &--glowing {
        background-color: rgba($color-error, 0.2);
        backdrop-filter: 8px;
        border: 1px solid $color-error;
        color: $text-color-white;
        box-shadow:
          0 0 8px rgba($color-error, 0.5),
          0 0 16px rgba($color-error, 0.4),
          0 0 24px rgba($color-error, 0.3);

        &:hover {
          background-color: $color-error;
        }

        &:disabled {
          background-color: rgba($color-error-disabled, 0.2);
          color: $text-color-white-disabled;

          .icon {
            color: $text-color-white-disabled;
          }
        }

        .icon {
          color: $text-color-white;
        }
      }
    }

    &--warning.button-appearance {
      &--solid {
        background-color: $color-warning;
        backdrop-filter: 8px;
        color: $text-color-white;

        &:hover {
          background-color: $color-warning-hover;
        }

        &:disabled {
          background-color: $color-warning-disabled;
          color: $text-color-white-disabled;

          .icon {
            color: $text-color-white-disabled;
          }
        }

        .icon {
          color: $text-color-white;
        }
      }

      &--outline {
        background-color: rgba($color-warning, 0.2);
        backdrop-filter: 8px;
        border: 1px solid $color-warning;
        color: $text-color-white;

        &:hover {
          background-color: $color-warning;
        }

        &:disabled {
          background-color: rgba($color-warning-disabled, 0.2);
          color: $text-color-white-disabled;

          .icon {
            color: $text-color-white-disabled;
          }
        }

        .icon {
          color: $text-color-white;
        }
      }

      &--outline-dashed {
        background-color: rgba($color-warning, 0.2);
        backdrop-filter: 8px;
        border: 1px dashed $color-warning;
        color: $text-color-white;

        &:hover {
          background-color: $color-warning;
        }

        &:disabled {
          background-color: rgba($color-warning-disabled, 0.2);
          color: $text-color-white-disabled;

          .icon {
            color: $text-color-white-disabled;
          }
        }

        .icon {
          color: $text-color-white;
        }
      }

      &--no-outline {
        background-color: rgba($color-warning, 0.2);
        backdrop-filter: 8px;
        color: $text-color-white;

        &:hover {
          background-color: $color-warning;
        }

        &:disabled {
          background-color: rgba($color-warning-disabled, 0.2);
          color: $text-color-white-disabled;

          .icon {
            color: $text-color-white-disabled;
          }
        }

        .icon {
          color: $text-color-white;
        }
      }

      &--glowing {
        background-color: rgba($color-warning, 0.2);
        backdrop-filter: 8px;
        border: 1px solid $color-warning;
        color: $text-color-white;
        box-shadow:
          0 0 8px rgba($color-warning, 0.5),
          0 0 16px rgba($color-warning, 0.4),
          0 0 24px rgba($color-warning, 0.3);

        &:hover {
          background-color: $color-warning;
        }

        &:disabled {
          background-color: rgba($color-warning-disabled, 0.2);
          color: $text-color-white-disabled;

          .icon {
            color: $text-color-white-disabled;
          }
        }

        .icon {
          color: $text-color-white;
        }
      }
    }
  }

  &-size {
    &--xsm {
      font-size: 0.75rem; // 12px
      line-height: 1rem; // 16px
      padding: 0.25rem 0.5rem; // 4px 8px
      min-height: 28px;

      .spinner,
      .icon {
        max-height: 1rem; // 16px
        max-width: 1rem; // 16px
      }
    }

    &--sm {
      font-size: 0.875rem; // 14px
      line-height: 1.25rem; // 20px
      padding: 0.375rem 0.75rem; // 6px 12px
      min-height: 32px;

      .spinner,
      .icon {
        max-height: 1.125rem; // 18px
        max-width: 1.125rem; // 18px
      }
    }

    &--md {
      font-size: 1rem; // 16px
      line-height: 1.5rem; // 24px
      padding: 0.5rem 1rem; // 8px 16px
      min-height: 40px;

      .spinner,
      .icon {
        height: 1.25rem; // 20px
        width: 1.25rem; // 20px
      }
    }

    &--lg {
      font-size: 1.125rem; // 18px
      line-height: 1.75rem; // 28px
      padding: 0.625rem 1.25rem; // 10px 20px
      min-height: 44px;

      .spinner,
      .icon {
        max-height: 1.375rem; // 22px
        max-width: 1.375rem; // 22px
      }
    }

    &--xlg {
      font-size: 1.25rem; // 20px
      line-height: 1.75rem; // 28px
      padding: 0.75rem 1.5rem; // 12px 24px
      min-height: 48px;

      .spinner,
      .icon {
        max-height: 1.5rem; // 24px
        max-width: 1.5rem; // 24px
      }
    }
  }

  &-radius {
    &--none {
      border-radius: 0rem; // 0px
    }

    &--sm {
      border-radius: 0.125rem; // 2px
    }

    &--md {
      border-radius: 0.375rem; // 6px
    }

    &--lg {
      border-radius: 0.5rem; // 8px
    }

    &--full {
      border-radius: 1.5rem; // 24px
    }
  }

  .icon {
    align-items: center;
    display: flex;
    justify-content: center;

    &--right {
      order: 5;
    }

    svg {
      width: 100%;
    }
  }
}
