@use "../../styles/settings" as *;

.tabs {
  border-radius: 16px;
  border: 1px solid rgba($white, 0.1);
  background-color: rgba($white, 0.05);
  box-shadow: 0 25px 50px -12px rgba($white, 0.05);
  backdrop-filter: blur(12px);
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &__buttons {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 14px;
  }

  &__button {
    align-items: center;
    border: 1px solid transparent;
    border-radius: 14px;
    color: $grey-400;
    display: flex;
    justify-content: center;
    gap: 10px;
    height: 50px;
    padding: 14px 20px;
    transition: all 140ms ease-out;

    &--active {
      color: $white;
      border-color: rgba($white, 0.1);
      background-color: rgba($white, 0.05);
      backdrop-filter: blur(4px);
    }

    &:hover {
      background-color: rgba($white, 0.025);
      border-color: rgba($white, 0.05);
    }

    &:active {
      transform: scale(0.96);
    }
  }
}
