@use '@aristobyte-ui/utils/styles' as *;

.dropdown {
  width: max-content;

  &__button {
    width: max-content;
  }

  &__box {
    @mixin dropdown-variant($name, $color) {
      &-variant--#{$name} &-options {
        background-color: $color;
      }
    }

    @include dropdown-variant('default', $color-default);
    @include dropdown-variant('primary', $color-primary);
    @include dropdown-variant('secondary', $color-secondary);
    @include dropdown-variant('warning', $color-warning);
    @include dropdown-variant('error', $color-error);
    @include dropdown-variant('success', $color-success);

    &-overlay {
      backdrop-filter: blur(12px);
      height: 100%;
      left: 0;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 99999999999;
    }

    &-options {
      align-items: flex-start;
      border-radius: 8px; // TODO: change to dynamic
      box-shadow:
        0 4px 6px rgb(0 0 0 / 4%),
        0 12px 24px rgb(0 0 0 / 10%);
      display: flex;
      flex-direction: column;
      opacity: 1;
      min-width: 300px;
      padding: 4px;
      position: absolute;
      transition:
        transform 200ms $cubic-bezier-secondary,
        opacity 150ms ease;
      width: 100%;
      z-index: 99999999999;
    }
  }
}
