@use '@aristobyte-ui/utils/styles' as *;

.dropdown {
  width: max-content;

  &__button {
    width: max-content;
  }

  &__box {
    @mixin dropdown-surface($name, $color) {
      &.dropdown__box-variant--#{$name}.dropdown__box-appearance--solid &-options {
        background-color: $color;
        border: 1px solid $color;
      }

      &.dropdown__box-variant--#{$name}.dropdown__box-appearance--outline &-options {
        background-color: rgba($color, 0.5);
        border: 1px solid $color;
      }

      &.dropdown__box-variant--#{$name}.dropdown__box-appearance--outline-dashed &-options {
        background-color: rgba($color, 0.5);
        border: 1px dashed $color;
      }

      &.dropdown__box-variant--#{$name}.dropdown__box-appearance--no-outline &-options {
        background-color: rgba($color, 0.5);
        border: 1px solid transparent;
      }

      &.dropdown__box-variant--#{$name}.dropdown__box-appearance--glowing &-options {
        background-color: rgba($color, 0.5);
        border: 1px solid $color;
        box-shadow:
          0 0 8px rgba($color, 0.5),
          0 0 16px rgba($color, 0.4),
          0 0 24px rgba($color, 0.3);
      }
    }

    @include dropdown-surface('default', $color-default);
    @include dropdown-surface('primary', $color-primary);
    @include dropdown-surface('secondary', $color-secondary);
    @include dropdown-surface('warning', $color-warning);
    @include dropdown-surface('error', $color-error);
    @include dropdown-surface('success', $color-success);

    &-overlay {
      backdrop-filter: blur(12px);
      height: 100%;
      left: 0;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 99999999999;
    }

    &-options {
      align-items: flex-start;
      border-radius: 8px; // TODO: change to dynamic
      box-shadow:
        0 4px 6px rgb(0 0 0 / 4%),
        0 12px 24px rgb(0 0 0 / 10%);
      display: flex;
      flex-direction: column;
      opacity: 1;
      min-width: 300px;
      padding: 4px;
      position: absolute;
      transition:
        transform 200ms $cubic-bezier-secondary,
        opacity 150ms ease;
      width: 100%;
      z-index: 99999999999;
    }
  }
}
