@use "../../styles/settings" as *;

.tab-switch-with-sliding-indicator {
  display: flex;
  flex-direction: column;

  &__tabs {
    align-items: center;
    display: flex;
    gap: 20px;
    position: relative;
    width: 300px;
  }

  &__tab {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 60px;

    &:hover {
      span {
        opacity: 0.5;
      }
    }

    span {
      align-items: center;
      display: flex;
      justify-content: center;
      transition: all 300ms ease-out;

      &:first-of-type {
        height: 16px;
        width: 16px;

        svg {
          height: 100%;
          width: 100%;
        }
      }

      &:last-of-type {
        color: $grey-400;
      }
    }

    &--active {
      span {
        &:last-of-type {
          color: $white;
        }
      }

      &:hover {
        span {
          opacity: 1;
        }
      }
    }
  }

  &__bar {
    background-color: $white;
    bottom: -10px;
    height: 2px;
    position: absolute;
    transition: all 600ms $cubic-bezier-primary;
    width: 60px;
  }

  &__content {
    margin: 20px 0 0;
  }
}
