@use '@aristobyte-ui/utils/styles' as *;

.radio {
  align-items: center;
  cursor: pointer;
  display: flex;
  position: relative;

  &__control {
    align-items: center;
    border-radius: 999px;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    position: relative;
    transition:
      border-color 0.2s ease,
      background-color 0.2s ease,
      transform 300ms ease;

    &::after {
      border-radius: 50%;
      content: '';
      display: flex;
      transform: scale(0);
      transition: transform 0.2s ease;
    }
  }

  &__input {
    appearance: none;
    height: 0;
    margin: 0;
    outline: none;
    width: 0;
  }

  &-align-label {
    &--top {
      flex-direction: column;

      .radio__control {
        order: 2;
      }
    }

    &--right {
      flex-direction: row;
    }

    &--bottom {
      flex-direction: column;
    }

    &--left {
      flex-direction: row;

      .radio__control {
        order: 2;
      }
    }
  }

  &--disabled {
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;
  }

  &-size {
    &--xsm {
      gap: 3px;

      .radio {
        &__control {
          height: 12px;
          width: 12px;

          &::after {
            height: 6px;
            width: 6px;
          }
        }

        &__label {
          font-size: 12px;
          line-height: 12px;
        }
      }
    }

    &--sm {
      gap: 4px;

      .radio {
        &__control {
          height: 16px;
          width: 16px;

          &::after {
            height: 8px;
            width: 8px;
          }
        }

        &__label {
          font-size: 14px;
          line-height: 14px;
        }
      }
    }

    &--md {
      gap: 5px;

      .radio {
        &__control {
          height: 20px;
          width: 20px;

          &::after {
            height: 10px;
            width: 10px;
          }
        }

        &__label {
          font-size: 16px;
          line-height: 16px;
        }
      }
    }

    &--lg {
      gap: 6px;

      .radio {
        &__control {
          height: 24px;
          width: 24px;

          &::after {
            height: 14px;
            width: 14px;
          }
        }

        &__label {
          font-size: 18px;
          line-height: 18px;
        }
      }
    }

    &--xlg {
      gap: 8px;

      .radio {
        &__control {
          height: 28px;
          width: 28px;

          &::after {
            height: 16px;
            width: 16px;
          }
        }

        &__label {
          font-size: 20px;
          line-height: 20px;
        }
      }
    }
  }

  @mixin radio-variant($name, $color, $dot-alpha, $glow-dot) {
    &-variant--#{$name}.radio-appearance--outline {
      .radio__control {
        background-color: rgba($color, 0.3);
        border: 2px solid $color;

        &::after {
          background-color: $color;
        }
      }

      &:active .radio__control {
        background-color: rgba($color, 0.4);
      }
    }

    &-variant--#{$name}.radio-appearance--no-outline {
      .radio__control {
        background-color: rgba($color, 0.3);
        border: 2px solid transparent;

        &::after {
          background-color: $color;
        }
      }

      &:active .radio__control {
        background-color: rgba($color, 0.4);
      }
    }

    &-variant--#{$name}.radio-appearance--glowing {
      .radio__control {
        backdrop-filter: 8px;
        background-color: rgba($color, 0.3);
        border: 2px solid $color;
        box-shadow:
          0 0 8px rgba($color, 0.5),
          0 0 16px rgba($color, 0.4),
          0 0 24px rgba($color, 0.3);

        &::after {
          background-color: $color;

          @if $glow-dot {
            box-shadow:
              0 0 8px rgba($color, 0.5),
              0 0 16px rgba($color, 0.4),
              0 0 24px rgba($color, 0.3);
          }
        }
      }

      &:active .radio__control {
        background-color: rgba($color, 0.4);
      }
    }

    &-variant--#{$name}.radio-appearance--outline-dashed {
      .radio__control {
        background-color: rgba($color, 0.3);
        border: 2px dashed $color;

        &::after {
          background-color: $color;
        }
      }

      &:active .radio__control {
        background-color: rgba($color, 0.4);
      }
    }

    &-variant--#{$name}.radio-appearance--solid {
      .radio__control {
        background-color: $color;
        border: 2px solid $color;

        &::after {
          background-color: rgba($white, $dot-alpha);
        }
      }

      &:active .radio__control {
        background-color: rgba($color, 0.9);
      }
    }

    &-variant--#{$name} .radio__label {
      color: $white;

      &--highlight-label {
        color: $color;
      }
    }
  }

  @include radio-variant('default', $color-default, 0.5, false);
  @include radio-variant('primary', $color-primary, 0.9, true);
  @include radio-variant('secondary', $color-secondary, 0.9, true);
  @include radio-variant('error', $color-error, 0.9, true);
  @include radio-variant('warning', $color-warning, 0.9, true);
  @include radio-variant('success', $color-success, 0.9, true);

  &__input:checked + .radio__control::after {
    transform: scale(1);
  }

  &:active &__control {
    transform: scale(0.95);
  }
}
