@use '@aristobyte-ui/utils/styles' as *;

.button-group {
  align-items: center;
  display: flex;
  overflow: hidden;
  max-width: max-content;

  &-align {
    &--horizontal {
      flex-direction: row;
    }

    &--vertical {
      flex-direction: column;
    }
  }

  &-variant {
    &--default {
      background-color: $color-default;
    }

    &--primary {
      background-color: $color-primary;
    }

    &--secondary {
      background-color: $color-secondary;
    }

    &--success {
      background-color: $color-success;
    }

    &--error {
      background-color: $color-error;
    }

    &--warning {
      background-color: $color-warning;
    }
  }

  &-radius {
    &--none {
      border-radius: 0rem; // 0px
    }

    &--sm {
      border-radius: 0.125rem; // 2px
    }

    &--md {
      border-radius: 0.375rem; // 6px
    }

    &--lg {
      border-radius: 0.5rem; // 8px
    }

    &--full {
      border-radius: 1.5rem; // 24px
    }
  }
}
