@use '@aristobyte-ui/utils/styles' as *;

.button-group {
  align-items: center;
  display: flex;
  overflow: hidden;
  max-width: max-content;

  &-align {
    &--horizontal {
      flex-direction: row;
    }

    &--vertical {
      flex-direction: column;
    }
  }

  @mixin button-group-variant($name, $color) {
    &-variant--#{$name} {
      background-color: $color;
    }
  }

  @include button-group-variant('default', $color-default);
  @include button-group-variant('primary', $color-primary);
  @include button-group-variant('secondary', $color-secondary);
  @include button-group-variant('success', $color-success);
  @include button-group-variant('error', $color-error);
  @include button-group-variant('warning', $color-warning);

  &-radius {
    &--none {
      border-radius: 0rem; // 0px
    }

    &--sm {
      border-radius: 0.125rem; // 2px
    }

    &--md {
      border-radius: 0.375rem; // 6px
    }

    &--lg {
      border-radius: 0.5rem; // 8px
    }

    &--full {
      border-radius: 1.5rem; // 24px
    }
  }
}
