name: Release Drafter

on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, reopened, synchronize]

permissions:
  contents: write
  pull-requests: read

jobs:
  update_release_draft:
    runs-on: ubuntu-latest
    if: >-
      ${{
        (github.event_name != 'pull_request' || !contains(github.event.pull_request.title, '[skip ci]')) &&
        (github.event_name != 'push' || !contains(github.event.head_commit.message, '[skip ci]'))
      }}
    steps:
      - uses: release-drafter/release-drafter@v6
        with:
          config-name: release-drafter.yml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
