.import {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.import__container {
  gap: 20px;
  height: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px;
  transition: all 150ms linear;
  width: calc(100% - 10px * 2);
}

@media screen and (min-width: 425px) {
  .import__container {
    padding: 15px;
    width: calc(100% - 15px * 2);
  }
}

@media screen and (min-width: 769px) {
  .import__container {
    padding: 30px;
    width: calc(100% - 30px * 2);
  }
}

.import__label {
  align-items: center;
  background: linear-gradient(
    90deg,
    rgba(240, 177, 0, 0.1) 0%,
    rgba(255, 105, 0, 0.1) 100%
  ); /*  @TODO: @COLOR */
  backdrop-filter: blur(4px);
  border-radius: 10000px;
  border: 1px solid rgba(255, 105, 0, 0.2); /*  @TODO: @COLOR */
  color: #ff8904; /*  @TODO: @COLOR */
  display: inline-flex;
  padding: 7px 13px;
  gap: 8px;
}

.import__label p {
  color: var(--white);
}

.import__title {
  align-items: center;
  color: #e2e8f0; /* @TODO: @COLOR */
  display: flex;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  gap: 12px;
}

.import__description {
  color: #90a1b9; /* @TODO: @COLOR */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  margin: 9px 0 24px;
}

.import__description b {
  border: solid rgba(69, 85, 108, 0.5); /*  @TODO: @COLOR */
  background-color: rgba(49, 65, 88, 0.4); /*  @TODO: @COLOR */
  border-radius: 10px;
  color: var(--white);
  padding: 3px 6px;
}

.import__links {
  align-items: center;
  display: flex;
  gap: 12px;
}

.import__link {
  align-items: center;
  border-radius: 10px;
  border: solid rgba(69, 85, 108, 0.5); /*  @TODO: @COLOR */
  background-color: rgba(49, 65, 88, 0.4); /*  @TODO: @COLOR */
  display: flex;
  gap: 8px;
  padding: 9px 13px;
  transition: all 150ms ease-out;
}

.import__link:hover {
  border: solid rgba(95, 117, 149, 0.5); /*  @TODO: @COLOR */
  background-color: rgba(71, 94, 126, 0.4); /*  @TODO: @COLOR */
  text-decoration: none;
  transform: scale(1.05);
}

.import__link-text {
  align-items: center;
  color: #cad5e2; /*  @TODO: @COLOR */
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  justify-content: center;
  line-height: 14px;
  text-align: center;
}

.import__link-icon {
  align-items: center;
  color: #62748e; /*  @TODO: @COLOR */
  display: flex;
  justify-content: center;
}

.import__link-icon--storybook {
  color: #ff8904; /*  @TODO: @COLOR */
}

.import__link-icon--npm {
  color: #c27aff; /*  @TODO: @COLOR */
}

.import__link-icon--source {
  color: #51a2ff; /*  @TODO: @COLOR */
}

.import__link-icon:hover {
  color: #73859d; /*  @TODO: @COLOR */
}

.import__link-icon--npm:hover {
  color: #d38bff; /*  @TODO: @COLOR */
}

.import__link-icon--source:hover {
  color: #62b3ff; /*  @TODO: @COLOR */
}

.import__import-type-buttons {
  align-items: center;
  display: flex;
  gap: 8px;
  margin: 24px 0 0;
}

.import__import-type-active {
  align-items: center;
  display: flex;
  gap: 8px;
  padding: 20px 0 16px;
}

.import__import-type-active span {
  color: #e2e8f0; /* @TODO: @COLOR */
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}

.import__cards {
  align-items: center;
  display: flex;
  gap: 16px;
  margin: 24px 0;
  width: 100%;
}

.import__alt-text {
  align-items: center;
  display: flex;
  color: #62748e; /* @TODO: @COLOR */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  gap: 8px;
}
