.intro {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.intro__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px;
  transition: all 150ms linear;
  width: calc(100% - 10px * 2);
}

@media screen and (min-width: 425px) {
  .intro__container {
    padding: 15px;
    width: calc(100% - 15px * 2);
  }
}

@media screen and (min-width: 769px) {
  .intro__container {
    padding: 30px;
    width: calc(100% - 30px * 2);
  }
}

.intro__label {
  align-items: center;
  background: linear-gradient(
    90deg,
    rgba(240, 177, 0, 0.1) 0%,
    rgba(255, 105, 0, 0.1) 100%
  ); /*  @TODO: @COLOR */
  backdrop-filter: blur(4px);
  border-radius: 10000px;
  border: 1px solid rgba(255, 105, 0, 0.2); /*  @TODO: @COLOR */
  color: #ff8904; /*  @TODO: @COLOR */
  display: inline-flex;
  padding: 7px 13px;
  gap: 8px;
}

.intro__label p {
  color: var(--white);
}

.intro__title {
  color: var(--white);
  font-family: var(--font-righteous);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.9px;
  text-align: center;
  transition: all 120ms ease-out;
}

@media screen and (min-width: 500px) {
  .intro__title {
    font-size: 24px;
  }
}

@media screen and (min-width: 769px) {
  .intro__title {
    font-size: 34px;
  }
}

.intro__description {
  color: #90a1b9; /* @TODO: @COLOR */
  text-align: center;
  font-family: var(--font-work-sans);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.14px;
  max-width: 768px;
}

.intro__description b {
  border: solid rgba(69, 85, 108, 0.5); /*  @TODO: @COLOR */
  background-color: rgba(49, 65, 88, 0.4); /*  @TODO: @COLOR */
  border-radius: 10px;
  color: var(--white);
  padding: 3px 6px;
}

.intro__quick-links {
  align-items: center;
  border-radius: 16px;
  border: 1px solid rgba(49, 65, 88, 0.8); /*  @TODO: @COLOR */
  background-color: rgba(29, 41, 61, 0.4); /*  @TODO: @COLOR */
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    /*  @TODO: @COLOR */ 0 4px 6px -4px rgba(0, 0, 0, 0.1); /*  @TODO: @COLOR */
  backdrop-filter: blur(4px);
  display: flex;
  padding: 17px 25px;
}

.intro__quick-links-content {
  align-items: center;
  border-right: 1px solid #45556c; /*  @TODO: @COLOR */
  display: flex;
  justify-content: center;
  gap: 8px;
  padding: 0 12px 0 0;
  margin: 0 12px 0 0;
}

.intro__quick-links-dot {
  border-radius: 50%;
  background-color: #00d492; /*  @TODO: @COLOR */
  height: 8px;
  width: 8px;
}

.intro__quick-links-text {
  color: #cad5e2; /*  @TODO: @COLOR */
}

.intro__links {
  align-items: center;
  display: flex;
  gap: 12px;
}

.intro__link {
  align-items: center;
  border-radius: 10px;
  border: solid rgba(69, 85, 108, 0.5); /*  @TODO: @COLOR */
  background-color: rgba(49, 65, 88, 0.4); /*  @TODO: @COLOR */
  display: flex;
  gap: 8px;
  padding: 9px 13px;
  transition: all 150ms ease-out;
}

.intro__link:hover {
  border: solid rgba(95, 117, 149, 0.5); /*  @TODO: @COLOR */
  background-color: rgba(71, 94, 126, 0.4); /*  @TODO: @COLOR */
  text-decoration: none;
  transform: scale(1.05);
}

.intro__link-text {
  align-items: center;
  color: #cad5e2; /*  @TODO: @COLOR */
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  justify-content: center;
  line-height: 14px;
  text-align: center;
}

.intro__link-icon {
  align-items: center;
  color: #62748e; /*  @TODO: @COLOR */
  display: flex;
  justify-content: center;
}

.intro__link-icon--storybook {
  color: #ff8904; /*  @TODO: @COLOR */
}

.intro__link-icon--npm {
  color: #c27aff; /*  @TODO: @COLOR */
}

.intro__link-icon--source {
  color: #51a2ff; /*  @TODO: @COLOR */
}

.intro__link-icon:hover {
  color: #73859d; /*  @TODO: @COLOR */
}

.intro__link-icon--npm:hover {
  color: #d38bff; /*  @TODO: @COLOR */
}

.intro__link-icon--source:hover {
  color: #62b3ff; /*  @TODO: @COLOR */
}
